body {
	text-align: center;
}

header {
	display: none;
}

form input {
	width: 100%;
	text-align:  center;
}

div.canidate {
	width: 96%;
	margin: auto;
	padding: 1em;
	margin-bottom: 1em;
	border: solid 1px #000000;
	background-color: #C0C0C0;
}

div.canidate img {
	width: 60%;
}

div.canidate button {

}

footer {
	margin: 1em;
	display: none;
}